<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Website</title>
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/all.min.css">
</head>
<body>
    <section class="sub-header">
        <nav>
            <a href="/home">
                <img src="images/logo.png" alt="University Logo">
            </a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/courses">COURSES</a></li>
                    <li><a href="/blog">BLOG</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/login">LOGOUT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        
        <h1>About Us</h1>
    </section>

    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>We are the world's largest university</h1>
                <p>Welcome to our prestigious university, where excellence meets innovation. Our institution is dedicated to providing top-tier education and fostering a community of forward-thinking leaders. Making a website is now one of the easiest
                    things in the world. You just need to learn HTML, CSS, JavaScript and you are good to go.</p>
                <a href="#" class="hero-btn red-btn">EXPLORE NOW</a>
            </div>
            <div class="about-col">
                <img src="images/about.jpg" alt="About Image">
            </div>
        </div>
    </section>

    <section class="footer">
        <h4>About Us</h4>
        <p>Welcome to our college, where excellence meets opportunity.<br>We are committed to providing our students with a transformative educational <br>experience that prepares them for success in their careers and beyond. 
            With state-of-the-art facilities, <br>
            dedicated faculty, and a vibrant community,
            we strive to foster a supportive environment that encourages intellectual curiosity, creativity, and personal growth.</p>

        <div class="icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </section>

    <!-- JavaScript for Toggle Menu -->
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }

        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>
</body>
</html>
