<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap CDN (optional, uncomment if using Bootstrap) -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="POST" class="flex-column">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="btn btn-primary mt-20 py-10">Login</button>
        </form>
        <p class="mt-20">Forgot Password? <a class="signup-link" href="/reset">Reset Password</a></p>
        <p class="mt-20">Don't have an account? <a class="signup-link" href="/signup">Sign Up</a></p>
    </div>
</body>
</html>
